body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF; /* Explicitly set the background color to white */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center; /* Ensure contents are centrally aligned */
}

header {
    flex: 1;
    max-height: 16.66vh; /* 1/6th of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width to center logo correctly */
    padding: 20px; /* Space around the header */
    box-sizing: border-box; /* Include padding in the width calculation */
}

#logo {
    max-width: 100%; /* Makes sure the logo is not wider than its container */
    height: auto; /* Maintains aspect ratio */
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) { /* Adjusts settings for devices with width 768px or less */
    #logo {
        max-height: 10vh; /* Reduces the logo size on smaller screens */
        max-width: 50%; /* Further ensure the logo fits within smaller screens */
    }
}

main {
    flex: 4; /* 4/6ths of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrCodeImg {
    width: 320px; /* Set QR code size */
    height: 320px;
}

footer {
    text-align: center; /* Centers the text within the footer */
    width: 100%; /* Ensures the footer spans the full width of its parent */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the items horizontally in a flex container */
    justify-content: center; /* Centers the items vertically in a flex container */
}

footer div {
    font-weight: bold; /* Ensure text is bold */
    line-height: 1.5;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}
