body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF; /* Explicitly set the background color to white */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center; /* Ensure contents are centrally aligned */
}

header {
    flex: 1;
    max-height: 16.66vh; /* 1/6th of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width to center logo correctly */
    padding: 20px; /* Space around the header */
    box-sizing: border-box; /* Include padding in the width calculation */
}

#logo {
    max-height: 120%; /* Increasing the size of the logo */
    max-width: 120%; /* Adjust this value based on your needs */
    padding: 10px;
    background-color: #FFF;
    box-sizing: border-box;
    /* Ensure the logo container or image can accommodate this increase */
}

main {
    flex: 4; /* 4/6ths of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrCodeImg {
    width: 320px; /* Set QR code size */
    height: 320px;
}

footer {
    flex: 1;
    max-height: 16.66vh; /* 1/6th of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF;
    color: #333;
}

footer div {
    font-weight: bold; /* Ensure text is bold */
    line-height: 1.5;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}
