body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF; /* Explicitly set the background color to white */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center; /* Ensure contents are centrally aligned */
}

header {
    flex: 1;
    max-height: 16.66vh; /* 1/6th of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width to center logo correctly */
    padding: 20px; /* Space around the header */
    box-sizing: border-box; /* Include padding in the width calculation */
}

#logo {
    display: block; /* Ensures the logo is block level for easier manipulation */
    max-width: 100%; /* Prevents the logo from exceeding the container's width */
    height: auto; /* Maintains aspect ratio */
    margin: 0 auto; /* Centers the logo horizontally */
    padding: 5px; /* Adjust padding as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    #logo {
        max-width: 50%; /* Reduces the logo's max width on smaller screens */
    }
}

main {
    flex: 4; /* 4/6ths of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrCodeImg {
    width: 320px; /* Set QR code size */
    height: 320px;
}

footer {
    width: 100%;
    text-align: center; /* Center-aligns text for non-flex children */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers flex items horizontally */
    justify-content: center; /* Centers flex items vertically if the container has a specific height */
    padding: 10px 0; /* Adds padding above and below the footer content */
}

/* If GPS and time are within divs, ensure those divs inherit center alignment */
footer div {
    width: 100%; /* Ensures the div takes up the full width for text-align to work effectively */
    text-align: center; /* This might be redundant if footer already sets it, but ensures text is centered */
}

